
<header class="header" id="navBarHeder" role="banner">
  <nav class="nav-container" role="navigation" aria-label="Menu principal">
    <div class="logo-content" id="logo">
      fin
    </div>
    <div class="nav-links">
      <nav>
        <a href="/frontend/pages/index.html">Home</a>
        <a href="/frontend/pages/mentoria.html">Mentoria</a>
        <a href="/frontend/pages/dashboard.html">Dashboard</a>
        <div class="dropdown">
          <a href="/areas-negocios" data-translate="areas-negocios">áreas de negócios</a>
          <div class="dropdown-menu" role="menu">
            <a href="/areas-negocios" role="menuitem" data-translate="BIZ">BIZ</a>
            <a href="/areas-negocios" role="menuitem" data-translate="TECH">TECH</a>
            <a href="/areas-negocios" role="menuitem" data-translate="TUOR">TUOR</a>
          </div>
        </div>
        <a href="/Mentorias" data-translate="Mentorias">Mentorias</a>
        <a href="/investidores" data-translate="investidores">investidores</a>
        <a href="/contatos" data-translate="contatos">contatos</a>
        <a href="/frontend/pages/login.html">Login</a>
        <span id="header-user" class="header-user"></span>
      </nav>

      <label class="burger" for="burger">
        <input type="checkbox" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <button id="searchNav" class="search-button" aria-label="Pesquisar">
        <i aria-hidden="true" aria-hidden="true" id="search-icon"><img src="../assets/icons/search_thin.svg"
            alt="search"></i>
      </button>
    </div>
  </nav>

</header>